.NFTWalletCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
  grid-gap: 20px;
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  perspective: 1000px;
}

.NFTWalletCard_box {
  position: relative;
  width: 300px;
  height: 450px;
  border-radius: 15px;
  transform-style: preserve-3d;
  border: 5px solid #3333333f;
  transition: transform 0.8s ease;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.7),
    inset 0 0 15px rgba(255, 255, 255, 0.1),
    0 4px 6px rgba(0, 0, 0, 0.5);
}

.NFTWalletCard_box:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8),
    inset 0 0 20px rgba(255, 255, 255, 0.15),
    0 6px 8px rgba(0, 0, 0, 0.6);
}

.NFTWalletCard_box_front,
.NFTWalletCard_box_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.NFTWalletCard_box_front {
  background: #1a1a1ac2;
}

.NFTWalletCard_box_back {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  background: #0e0e0e;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  transform: rotateY(180deg);
}

.NFTWalletCard_box_img_content {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NFTWalletCard_box_info {
  padding: 15px;
  background: #1a1a1a;
  color: #fff;
  text-align: center;
}

.NFTWalletCard_text {
  text-align: center;
}

.NFTWalletCard_box_info_details_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 100%;
  
}

.NFTWalletCard_box_info_details h3 {
  font-size: 1rem;
  text-align: center;
  color: #fff;
}

.NFTWalletCard_box_info small {
  display: block;
  color: #777;
}

.NFTWalletCard_box.flipped {
  transform: rotateY(180deg);
}

.NFTWalletCard_box_info .button_wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.NFTWalletCard_box_back h3 {
  color: #ffffff;
  font-weight: bold;
}

.NFTWalletCard_box_back p {
  color: #999999;
  margin-top: 5px;
}

.NFTWalletCard_box_contract {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}


.NFTWalletCard_box_back svg {
  fill: #fff;
  transition: linear 200ms fill;
}

.NFTWalletCard_box_back svg:hover {
  fill: #017afe;
}

.NFTWalletCard_box_back h3 {
  font-size: 1.2rem;
  font-weight: 700;
  padding-top: 0rem;
  margin-bottom: 1rem;
  margin-top: 0;
  color: #017afe;
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
}

.NFTWalletCard_box_back p,
.NFTWalletCard_box_contract {
  font-size: 0.9rem;
  margin-top: -0.5rem;
}

.NFTWalletCard_box_img_content .placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  background: rgba(139, 139, 139, 0.205);
  border-radius: 10px;
  color: #808080;
  font-size: 1.2rem;
  font-style: italic;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


@media (min-width: 1920px) {
  .NFTWalletCard {
    max-width: 1680px;
  }
}

@media (max-width: 1860px) {
  .NFTWalletCard {
    grid-auto-rows: minmax(460px, auto);
  }

  .NFTWalletCard_box_back p,
  .NFTWalletCard_box_contract {
    font-size: 0.8rem;
  }
}

@media (max-width: 1500px) {
  .NFTWalletCard {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(calc(700px - 10vw), auto);
  }

  .NFTWalletCard:only-child:nth-last-child(5) .NFTWalletCard_box:nth-child(4),
  .NFTWalletCard:only-child:nth-last-child(5) .NFTWalletCard_box:nth-child(5) {
    grid-column: 2 / 4;
  }

  .NFTWalletCard_box_back p,
  .NFTWalletCard_box_contract {
    font-size: 1rem;
  }
}

@media (max-width: 1300px) {
  .NFTWalletCard {
    grid-auto-rows: minmax(calc(600px - 10vw), auto);
  }

  .NFTWalletCard_box_back p,
  .NFTWalletCard_box_contract {
    font-size: 0.8rem;
  }
}

@media (max-width: 1150px) {
  .NFTWalletCard {
    grid-auto-rows: minmax(calc(560px - 10vw), auto);
  }
}

@media (max-width: 1024px) {
  .NFTWalletCard {
    max-width: calc(100% - 8rem);
  }
}

@media (max-width: 950px) {
  .NFTWalletCard {
    grid-auto-rows: minmax(calc(520px - 10vw), auto);
  }
}

@media (max-width: 855px) {
  .NFTWalletCard {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(calc(620px - 10vw), auto);
    max-width: calc(100% - 4rem);
  }

  .NFTWalletCard:only-child:nth-last-child(5) .NFTWalletCard_box:last-child {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .NFTWalletCard_box_back p,
  .NFTWalletCard_box_contract {
    font-size: 1rem;
  }
}

@media (max-width: 750px) {
  .NFTWalletCard {
    grid-auto-rows: minmax(calc(560px - 10vw), auto);
  }
}

@media (max-width: 650px) {
  .NFTWalletCard {
    grid-auto-rows: minmax(calc(510px - 10vw), auto);
  }

  .NFTWalletCard_box_back p,
  .NFTWalletCard_box_contract {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  .NFTWalletCard {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(calc(730px - 10vw), auto);
  }

  .NFTWalletCard_box_back p,
  .NFTWalletCard_box_contract {
    font-size: 1rem;
  }
}

@media (max-width: 515px) {
  .NFTWalletCard {
    grid-auto-rows: minmax(calc(640px - 10vw), auto);
  }
}

@media (max-width: 430px) {
  .NFTWalletCard {
    grid-auto-rows: minmax(calc(540px - 10vw), auto);
  }
}

@media (max-width: 380px) {
  .NFTWalletCard {
    grid-auto-rows: minmax(calc(520px - 10vw), auto);
  }
}

@media (max-width: 350px) {
  .NFTWalletCard {
    max-width: calc(100% - 2rem);
  }
}