.entryPageContainer {
  position: relative;
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}

.particleContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.particle {
  width: 10px; /* Size of each particle */
  height: 10px;
  background-color: #ffffff; /* Particle color */
  border-radius: 50%;
  position: absolute;
}

/* Fullscreen background video */
.fullscreenVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-object-fit: cover;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

/* Centering container for the image */
.enterContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* Image wrapper for size adjustments */
.imageWrapper {
  position: absolute;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Image styling */
.enterImage {
  width: 100%;
  height: 100%;
  -webkit-object-fit: contain;
  object-fit: contain;
}

.cookieOverlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;  
  overflow: auto; /* Allow scrolling for small screens */
}

.cookieContent {
  padding: 20px;
  border-radius: 10px;
  background: var(--background-gradient-dark);
  box-shadow: inset 0px -5px 10px rgba(255, 255, 255, 0.2), 0 5px 15px rgba(0, 0, 0, 0.5);
  width: 50%;
  text-align: left;
}

.cookieHeader {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.cookieBody {
  text-align: left;
  padding: 0 20px;
}

.cookieParagraph {
  margin-bottom: 10px;
  font-size: 0.9rem;
  line-height: 1.5;
}

.cookieList {
  margin-left: 40px;
  margin-bottom: 10px;
  list-style-type: disc;
}

.linkButton {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9rem;
}

.footerLinks {
  text-align: center;
  margin-top: 20px;
}

.footerLinks p {
  margin: 0;
}

.cookieButton {
  padding: 8px 15px;
  font-size: 0.8rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.cookieButton.accept {
  background-color: #28a745;
  color: #fff;
}

.cookieButton.accept:hover {
  background-color: #218838;
}

.cookieButton.decline {
  background-color: #dc3545;
  color: #fff;
}

.cookieButton.decline:hover {
  background-color: #c82333;
}

.cookieButton.manage {
  background-color: #007bff;
  color: #fff;
}

.cookieButton.manage:hover {
  background-color: #0056b3;
}


.skipButton {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease, background-color 0.3s ease;
  transition: transform 0.2s ease, background-color 0.3s ease;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.skipButton:hover {
  background-color: #555;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.skipButton:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.enterButton:hover {
  color: rgb(122, 122, 122);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
}

@media (max-width: 599px) {
  .entryPageContainer {
    align-items: center;
    justify-content: center;
  }

  .imageWrapper {
    width: 300px; /* Smaller width for mobile */
    height: 300px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .entryPageContainer {
    align-items: center;
    justify-content: center;
  }

  .enterContainer {
    top: 50%; /* Center for tablet */
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .imageWrapper {
    width: 400px; /* Adjust width for tablets */
    height: 400px;
  }  
}

/* Tablet (max-width: 768px) */
@media (max-width: 768px) {
  .cookieContent {
    width: 70%;
    padding: 15px;
    border-radius: 8px;
  }

  .cookieHeader {
    font-size: 1.3rem;
  }

  .cookieParagraph {
    font-size: 0.85rem;
    line-height: 1.4;
  }

  .cookieButton {
    padding: 10px;
    font-size: 0.85rem;
  }
}

/* Mobile (max-width: 480px) */
@media (max-width: 480px) {
  .cookieOverlay {
    align-items: flex-start;
    padding: 20px 0; /* Add padding to the top and bottom */
  }

  .cookieContent {
    width: 90%;
    padding: 10px;
    border-radius: 6px;
  }

  .cookieHeader {
    font-size: 1.1rem;
    margin-bottom: 15px;
  }

  .cookieParagraph {
    font-size: 0.7rem;
    line-height: 1.3;
  }

  .cookieList {
    margin-left: 20px;
    margin-bottom: 8px;
  }

  .cookieButton {
    padding: 8px 8px;
    font-size: 0.6rem;
    margin: 5px 0;
  }

  .cookieBody {
    font-size: .7rem;
  } 
  
  .cookieList {
    font-size: .7rem;
  }

  .linkButton {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.7rem;
  }
}


