.entryPageContainer {
  position: relative;
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}

.particleContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.particle {
  width: 10px; /* Size of each particle */
  height: 10px;
  background-color: #ffffff; /* Particle color */
  border-radius: 50%;
  position: absolute;
}

/* Fullscreen background video */
.fullscreenVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-object-fit: cover;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

/* Centering container for the image */
.enterContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* Image wrapper for size adjustments */
.imageWrapper {
  position: absolute;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Image styling */
.enterImage {
  width: 100%;
  height: 100%;
  -webkit-object-fit: contain;
  object-fit: contain;
}

.cookieOverlay {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 50%;
  background: var(--background-gradient-light);
  color: #fff;
  padding: 0.5rem 1rem 1rem 1rem;
  border-radius: 12px 12px 0 0;
  text-align: center;
  border: 0.2rem solid var(--color-border);
  z-index: 9999;
}

.cookieContent h2 {
  margin: 0px;
  font-size: 1.5rem;
}

.cookieContent p {
  font-size: 0.9rem;
  margin-bottom: 12px;
}

.cookieContent a {
  color: #007bff;
  text-decoration: underline;
}

.cookieButton {
  margin: 0 8px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.cookieButton:hover {
  background-color: #0056b3;
}

.linkButton {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  font-size: inherit;
  padding: 0;
}

.linkButton:hover {
  color: #0056b3;
}

.skipButton {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease, background-color 0.3s ease;
  transition: transform 0.2s ease, background-color 0.3s ease;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.skipButton:hover {
  background-color: #555;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.skipButton:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.enterButton:hover {
  color: rgb(122, 122, 122);
}

.button_container_lower {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 599px) {
  .entryPageContainer {
    align-items: center;
    justify-content: center;
  }

  .imageWrapper {
    width: 300px; /* Smaller width for mobile */
    height: 300px;
  }

  .cookieOverlay {
    width: 90%; /* Adjust width for mobile */
    padding: 1rem;
  }

  .cookieContent h2 {
    font-size: 1.2rem;
  }

  .cookieContent p {
    font-size: 0.8rem;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .entryPageContainer {
    align-items: center;
    justify-content: center;
  }

  .enterContainer {
    top: 50%; /* Center for tablet */
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .imageWrapper {
    width: 400px; /* Adjust width for tablets */
    height: 400px;
  }

  .cookieOverlay {
    width: 80%; /* Adjust overlay width for tablets */
    padding: 1rem;
  }

  .cookieContent h2 {
    font-size: 1.3rem;
  }

  .cookieContent p {
    font-size: 0.85rem;
  }
}


