.modalOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modalContent {
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  background: radial-gradient(circle at 24.1% 68.8%, rgba(50, 50, 50, 0.8) 0%, rgba(0, 0, 0, 0.8) 99.4%);
  box-shadow: inset 0px -5px 10px rgba(255, 255, 255, 0.2), 0 5px 15px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  max-height: 90vh;
  z-index: 1050;
}


.title{
  text-align: center;
}

/* Flexbox for close button alignment */
.close_buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  border: none;
  color: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.stepsText {
  margin-top: 0rem; 
  line-height: 1.5;
  text-align: center;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.stepsText .stepNumber{
  font-size: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: auto;
  padding-top: 1rem;
  border-top: 1px solid #444;
  -webkit-user-select: none;
  user-select: none;
}

/* Media queries for responsiveness */

/* Small devices (e.g., smartphones) */
@media (max-width: 600px) {
  .modalContent {
    width: 95%;
    max-width: 90%;
    padding: 15px;
    gap: 0.5rem;
  }
  
  .stepsText {
    font-size: 0.9rem;
    line-height: 1.4;
  }

  .buttonContainer {
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.5rem;
  }

  .closeButton {
    font-size: 1.2rem;
  }
}

/* Medium devices (e.g., tablets) */
@media (min-width: 600px) and (max-width: 1024px) {
  .modalContent {
    max-width: 80%;
    padding: 18px;
    gap: 0.75rem;
  }

  .stepsText {
    font-size: 1rem;
    line-height: 1.5;
  }

  .buttonContainer {
    gap: 1rem;
    padding-top: 1rem;
  }

  .closeButton {
    font-size: 1.4rem;
  }
}

/* Large devices (e.g., desktops) */
@media (min-width: 1025px) {
  .modalContent {
    max-width: 60%;
    padding: 20px;
  }

  .stepsText {
    font-size: 1.1rem;
  }

  .buttonContainer {
    gap: 1.5rem;
    padding-top: 1.5rem;
  }

  .closeButton {
    font-size: 1.5rem;
  }
}
