@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.modalOverlay {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  z-index: 2000;
  overflow: hidden;
  animation: slideUp 0.5s ease-in-out forwards;
}

.modalOverlay.slideDown {
  animation: slideDown 0.5s ease-in-out forwards;
}

.modal {
  padding: 20px;
  position: relative;
  border-top-left-radius: .8rem;
  border-top-right-radius: .8rem;
  justify-content: center;
  align-items: flex-end;
  background: var(--background-gradient-dark);
  box-shadow: inset 0px -5px 10px rgba(255, 255, 255, 0.2), 0 5px 15px rgba(0, 0, 0, 0.5);
  max-width: 75rem;
  max-height: 34rem;
  z-index: 9999;
}

.modalWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  padding: 1.5rem 1.5rem 0rem 1.5rem;
  font-family: Arial, sans-serif;
  color: white;
  max-height: calc(33.75rem - 2rem); 
  overflow-y: auto; 
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent; 
}


.modalTitle {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.modalIntro {
  font-size: .9rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.modalSection {
  margin-bottom: 20px;
}

.sectionTitle {
  font-size: 1rem;
  margin-bottom: 0rem;
}

.sectionContent {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 0rem;
  color: #757575;
}

.sectionList {
  padding-left: 20px;
  margin: 5px 0;
}

.listItem {
  font-size: 14px;
  margin-bottom: 1px;
  list-style: disc;
  color: #757575;
}

.closeButtonBox {
  margin: 1rem 0rem 1rem 0rem;
}

.emailButton {
  background: none;
  color: #007bff;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: inherit;
  padding: 0;
}

.emailButton:hover {
  color: #0056b3;
}

@media (max-width: 768px) {
  .modal {
    width: 90%;
    padding: 15px;
  }

  .modalTitle {
    font-size: 20px;
  }

  .sectionTitle {
    font-size: 16px;
  }

  .sectionContent,
  .listItem {
    font-size: 13px;
  }

  .closeButton {
    font-size: 12px;
    padding: 8px 12px;
  }
}