.modal {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  position: relative;
  background: var(--background-gradient-dark);
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  max-height: 80vh;

}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.modalWrapper {
  padding: 10px;
  color: white;
}

.modalTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.modalIntro {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.modalSection {
  margin-bottom: 20px;
}

.sectionTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.sectionContent {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.sectionList {
  padding-left: 20px;
  margin: 10px 0;
}

.listItem {
  font-size: 14px;
  margin-bottom: 5px;
  list-style: disc;
}

.closeButton {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.closeButton:hover {
  background-color: #555;
}

.disabledButton {
  background-color: grey;
  border-color: grey;
  cursor: not-allowed;
}

/* Checkbox container styles */
.checkboxLabel {
  display: flex;
  font-size: .9rem;
  
}


.checkbox {
  margin-right: 10px; 

}

.modalFooter {
  margin-top: 2rem;
  padding-top: 1.5rem;
  border-top: 1px solid #ccc;
}

.footerTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.footerLinks {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerLink {
  font-size: 0.9rem;
  color: #007BFF;
  text-decoration: none;
}

.footerLink:hover {
  text-decoration: underline;
  color: #0056b3;
}


@media (max-width: 768px) {
  .modal {
    width: 90%;
    padding: 15px;
  }

  .modalTitle {
    font-size: 20px;
  }

  .sectionTitle {
    font-size: 16px;
  }

  .sectionContent,
  .listItem {
    font-size: 13px;
  }

  .closeButton {
    font-size: 12px;
    padding: 8px 12px;
  }
}
