.the_forge {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0rem 0rem;
}

.buttonFlex {
  display: flex;
  gap: 1rem; 
  justify-content: center;
  margin-top: 1rem;
}

.welcome_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.welcome_modal_content {
  padding: 20px;
  border-radius: 10px;
  background: radial-gradient(circle at 24.1% 68.8%, rgba(50, 50, 50, 0.8) 0%, rgba(0, 0, 0, 0.8) 99.4%);
  box-shadow: inset 0px -5px 10px rgba(255, 255, 255, 0.2), 0 5px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
}

.walkthrough_overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.438); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
  z-index: 10001;
  transition: color 0.2s ease-in-out;
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6000;
}

.popupContent {
  background: #1a1a1a;
  color: #f5f5f5;
  padding: 25px;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  text-align: center;
}

.popupContent h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #ffffff;
}

.popupContent p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.popupButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.transakButton:disabled,
.kycButton:disabled {
    cursor: not-allowed;
    opacity: 0.6;
    background: #333; 
}

/* Dropdown Container */
.dropdownContainer {
  display: flex;  
  position: relative;
  padding: 0rem;
}

/* Dropdown Toggle Button */
.dropdownToggle {
  background: -webkit-linear-gradient(145deg, #0d0d0d, #1a1a1a);
  background: linear-gradient(145deg, #0d0d0d, #1a1a1a);
  color: white;
  border: 2px solid #1c1c1c;
  border-radius: 12px;
  -webkit-box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.1), 0px 5px 15px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.1), 0px 5px 15px rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-size: 16px;
  -webkit-text-shadow: 0px 0px 2px black;
  text-shadow: 0px 0px 2px black;
  background-image: -webkit-linear-gradient(145deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(145deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5));
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px; 
  padding: 0px 0px;
  z-index: 2; 
}

.dropdownToggle:hover {  
    color: lightgray;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    -webkit-text-shadow: 4px 4px 6px rgba(0, 0, 0, 8);
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 8);
}

/* Dropdown Menu */
.dropdownMenu {
  position: absolute;
  top: 96%;
  right: .75rem;
  width: 90%;
  background-image: -webkit-linear-gradient(145deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(145deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5));
  border: 1px solid #333;
  border-top: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Dropdown Menu Item */
.dropdownMenuItem {
  color: white;
  padding: 10px 20px;
  text-align: left;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s ease;
}

.dropdownMenuItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: lightgray;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  -webkit-text-shadow: 4px 4px 6px rgba(0, 0, 0, 8);
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 8);
}

/* Disabled State */
.disabled {
  color: grey;
  cursor: not-allowed;
}



.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}


.modalContent {
  position: relative;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  background: radial-gradient(circle at 24.1% 68.8%, rgba(50, 50, 50, 0.8) 0%, rgba(0, 0, 0, 0.8) 99.4%);
  box-shadow: inset 0px -5px 10px rgba(255, 255, 255, 0.2), 0 5px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  max-width: 600px;
  width: 90%;
}


body.modalOpen {
  overflow: hidden;
}

.the_forge_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.forge_button_upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
  width: 100%;
}

.forge_button_wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  gap: 3rem;
}

.lore_text {
  font-size: 4rem;
  margin: 3rem 0rem 1rem 0rem;
  text-align: center;
}

.openWalkthroughButton {
  display: flex;
}

.balance {
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 800px;
  position: relative;
}

.carousel_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1rem 0;
  perspective: 2500px;
}

.carousel_container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  position: relative;
}

.card {
  position: absolute;
  width: 325px;
  height: 450px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  backface-visibility: hidden;
}
.card_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.card_right_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 300px;
  height: auto;
  padding: 0rem 0rem 0rem 0rem;
  margin: 0rem;
  
}

.card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  background: radial-gradient(circle at 24.1% 68.8%, rgba(50, 50, 50, 0.8) 0%, rgba(0, 0, 0, 0.8) 99.4%);
  border-radius: 10px;
}


.card_side {
  position: absolute;
  background: radial-gradient(circle at 24.1% 68.8%, rgba(50, 50, 50, 0.8) 0%, rgba(0, 0, 0, 0.8) 99.4%);
  box-shadow: inset 0px -5px 10px rgba(255, 255, 255, 0.2), 0 5px 15px rgba(0, 0, 0, 0.5);
  /* Adds bevel and depth */
  width: 100%;
  height: 20px;
}

.side_top {
  top: -10px;
  left: 0;
  transform: rotateX(90deg);
  box-shadow: inset 0px -5px 10px rgba(255, 255, 255, 0.2), 0 5px 15px rgba(0, 0, 0, 0.5);
}

.side_bottom {
  bottom: -10px;
  left: 0;
  transform: rotateX(90deg);
  box-shadow: inset 0px -5px 10px rgba(255, 255, 255, 0.2), 0 5px 15px rgba(0, 0, 0, 0.5);
}

.card_left_side,
.card_right_side {
  position: absolute;
  background: radial-gradient(circle at 24.1% 68.8%, rgba(50, 50, 50, 0.8) 0%, rgba(0, 0, 0, 0.8) 99.4%);
  box-shadow: inset 0px -5px 10px rgba(255, 255, 255, 0.2), 0 5px 15px rgba(0, 0, 0, 0.5);
  width: 20px;
  height: 100%;
}

.card_left_side {
  left: -10px;
  top: 0;
  transform: rotateY(90deg);
}

.card_right_side {
  right: -10px;
  top: 0;
  transform: rotateY(90deg);
}

.card_lside_text {
  position: absolute;
  transform: rotate(90deg);
  transform-origin: left center;
  white-space: nowrap;
  left: 50%;
  top: 25%;
  font-size: .7rem;
  color: rgb(0, 0, 0);
  text-align: center;
}

.card_rside_text {
  position: absolute;
  transform: rotate(90deg) scaleY(-1);
  transform-origin: left center;
  white-space: nowrap;
  left: 50%;
  top: 25%;
  font-size: .7rem;
  color: rgb(0, 0, 0);
  text-align: center;
}


.card_front,
.card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px -5px 10px rgba(255, 255, 255, 0.2), 0 5px 15px rgba(0, 0, 0, 0.5);
}

.card_front {
  transform: translateZ(9.25px);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 24.1% 68.8%, rgba(50, 50, 50, 0.8) 0%, rgba(0, 0, 0, 0.8) 99.4%);


  z-index: 369;
}

.card_back {
  transform: rotateY(180deg) translateZ(9.25px);
  background: radial-gradient(circle at 24.1% 68.8%, rgba(50, 50, 50, 0.8) 0%, rgba(0, 0, 0, 0.8) 99.4%);

}

.card_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.card_left {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
}



.card_left {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.card_right h2 {
  font-size: 2rem;
  margin: 0rem;
  padding: 0rem;
}



.card_right_bottom {
  padding: 0rem;
  margin: 0rem;
}

.card_right_bottom_bidding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.card_right_bottom_bidding_box_timer {
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 0rem;
  padding: 0rem;
}

.card_right_bottom_bidding_box_timer_item {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  gap: 5px;
  padding: .25rem;
}

.card_right_bottom_bidding_box_timer_item p {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: .8rem;

}

.card_right_bottom_bidding_box_timer_item span {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: .8rem;
}

.card_right_bottom_bidding_box_timer_item_new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  text-align: center;
}

.card_right_bottom_bidding_box_timer_item_box {
  background-color: #1f1f1f;
  border: 2px solid gray;
  padding: 0rem .5rem 0rem .5rem;
  border-radius: 0.5rem;
  text-align: center;
  color: white;
  margin: 0rem 0rem 0rem 0rem;
}

.card_right_bottom_bidding_box_timer_item_small {
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: .8rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.card_right_bottom_bidding_box_timer_item_price {
  font-size: .8rem;
  font-weight: bold;
  color: white;
  margin-top: 0rem;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.card_right_bottom_bidding_box_timer_item_price {
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  gap: 0.2rem;
  width: 100%;
  padding: 0rem 0rem 0.75rem 0rem;

}

.card_right_bottom_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 0.5rem;
}


.card_right_box_price_box {
  background-color: #1f1f1f;
  border: 4px solid white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
}

.card_right_box_price_box small {
  font-size: 1rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.card_right_box_price_box p {
  font-size: 1.25rem;
  color: white;
  font-weight: bold;
  margin: 0.5rem 0 0;
}

.toggle_price_icon {
  cursor: pointer;
  font-size: .8rem;
  color: #017afe;
  margin-left: 10px;
}

.arrowButton {
  cursor: pointer;
  z-index: 2;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  transition: background 0.3s ease;
}

.arrowButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.arrow_container {
  position: fixed;
  bottom: 50;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90rem;
  z-index: 1000;
}


#spinner {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#spinner img {
  position: absolute;
  width: 200px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
  transform-origin: 50% 50% -250px;
  transition: transform 1s;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.controls button {
  background: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin: 0 10px;
  transition: background 0.3s;
}

.controls button:hover {
  background: #555;
}


.kyc_reminder_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.kyc_reminder_content {
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  background: radial-gradient(circle at 24.1% 68.8%, rgba(50, 50, 50, 0.8) 0%, rgba(0, 0, 0, 0.8) 99.4%);
  box-shadow: inset 0px -5px 10px rgba(255, 255, 255, 0.2), 0 5px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.modal_buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.confirm_button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel_button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}



/* Small screens (mobile) */
@media only screen and (max-width: 768px) {
  .carousel_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 0rem;
    padding-bottom: 1rem;
    transform-origin: top center;
    gap: 1rem;
  }

  .forge_button_upper{
    margin-bottom: 2rem;
  }

  .carousel{
    margin-top: 2rem;
  }

  .lore_text {
    font-size: 4rem;
    text-align: center;
    margin: 0rem 0rem 1.5rem 0rem;
    padding: 0rem;
    line-height: 1.1;
  }


  .carousel_container {
    transform: scale(0.9);
  }

  .arrowButton,
  .arrow_container {
    display: none;
  }

  .the_forge {
    transform: scale(0.7);
    margin-bottom: 4rem;
  }

  .card {
    transform: scale(0.8);
  }

  .forge_button_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  /* Dropdown Container */
.dropdownContainer {
  display: flex;  
  position: relative;
  padding: .25rem;
}

/* Dropdown Toggle Button */
.dropdownToggle {
  background: -webkit-linear-gradient(145deg, #0d0d0d, #1a1a1a);
  background: linear-gradient(145deg, #0d0d0d, #1a1a1a);
  color: white;
  border: 2px solid #1c1c1c;
  border-radius: 12px;
  -webkit-box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.1), 0px 5px 15px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.1), 0px 5px 15px rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-size: 16px;
  -webkit-text-shadow: 0px 0px 2px black;
  text-shadow: 0px 0px 2px black;
  background-image: -webkit-linear-gradient(145deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(145deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5));
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px; 
  padding: 0px 0px;
  z-index: 1; 
}

.dropdownToggle:hover {  
    color: lightgray;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    -webkit-text-shadow: 4px 4px 6px rgba(0, 0, 0, 8);
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 8);
}

/* Dropdown Menu */
.dropdownMenu {
  position: absolute;
  top: 90%;
  right: .75rem;
  width: 90%;
  background-image: -webkit-linear-gradient(145deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(145deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5));
  border: 1px solid #333;
  border-top: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Dropdown Menu Item */
.dropdownMenuItem {
  color: white;
  padding: 10px 20px;
  text-align: left;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s ease;
}

.dropdownMenuItem:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: lightgray;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  -webkit-text-shadow: 4px 4px 6px rgba(0, 0, 0, 8);
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 8);
}
}


/* Tablet screens (min-width: 769px and max-width: 1024px) */
@media only screen and (max-width: 480px) {
  /* Dropdown Container */
.dropdownContainer {
  display: flex;  
  position: relative;
  padding: .25rem;
}

/* Dropdown Toggle Button */
.dropdownToggle {
  padding: 4px 0px;
  z-index: 1; 
}

.dropdownToggle:hover {  
    color: lightgray;

}

/* Dropdown Menu */
.dropdownMenu {
  width: 90%;
  background: black;

}


  .carousel{
    width: 100%;
    height: 700px;
  }
  .forge_button_upper{
    margin-bottom: 2rem;
  }
  .arrowButton,
  .arrow_container {
    display: none;
  }
  .lore_text {
    font-size: 3rem;
    text-align: center;

  }

  .carousel_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

    transform-origin: top center;
    gap: 1rem;
    height: 70vh;
  }
  .the_forge {
    margin-bottom: 4rem;
  }
  .carousel_container {
    transform: scale(0.9);
  }
  .forge_button_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

/* Medium Devices (Larger Tablets or Small Laptops, 900px - 1199px) */
@media (min-width: 900px) and (max-width: 1199px) {
  .lore_text {
    font-size: 4rem;
    text-align: center;

  }
}
