
.NFTTabs_box{
    display: flex;
    align-items: center;    
    line-height: 1;
    padding-bottom: 0.25rem ;
    border-bottom: 4px double rgba(1,122,254,255);
}

.NFTTabs_box_img{
    border-radius: 50%;
}

.NFTTabs_box_info{
    display: grid;
    align-self: flex-start;
    line-height: 1;
    margin-top: 0px;
}

.NFTTabs_box_info_info{
      display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 8px;
}

.NFTTabs_box_info_info span{
    margin: 0rem;
    padding: 0rem;
    font-size: .75rem;
    font-weight: 400;
        
}

.NFTTabs_box_info_info p{    
    margin: 0rem;
    padding: 0rem;
    font-size: .9rem;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: rgba(1,122,254,255);
    text-decoration-thickness: 2px;
}

.NFTTabs_box_info small{
    margin-top: .2rem;
}