.nft_wallet {
  margin-top: 4rem;
}

.nft_wallet_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
.page_title {
  font-size: 4rem;
  margin-bottom: 5rem;
  margin-left: 7rem;
  display: inline-block;
  border-bottom: 0.5rem double white;
}

@media (max-width: 1024px) {
  .page_title {
    font-size: 3rem;
    margin-left: 4rem;
    margin-top: 2rem;
  }
}

@media (max-width: 855px) {
  .nft_wallet_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }

  .page_title {
    font-size: 2.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
  }
}
