.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding: 0rem 0rem 0rem 0rem;
  margin: 0rem 0rem 0rem 0rem;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  background-image: url("../public/img/background3.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.heading {
  font-size: 7rem;
  margin: 7rem 0rem 7rem 0rem;
}


.functionBlock {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.label {
  font-size: 1rem;
  margin-bottom: 10px;
  display: inline-block;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .functionBlock {
    padding: 15px;
  }

  .heading {
    font-size: 1.75rem;
  }

  .subheading {
    font-size: 1.25rem;
  }

  .input {
    font-size: 0.9rem;
  }
}
