.login {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 14rem;
  }
  
  .login_box { 
    text-align: center;  
    width: 90%; 
    justify-items: center;
    align-items: center;
    
  }


  
  .login_box h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    margin-bottom: 10rem;
    text-decoration: underline;
    text-shadow: 
    0 0 2px rgb(1, 122, 254, 255),
    0 0 2px rgb(1, 122, 254, 255),
    0 0 2px rgb(1, 122, 254, 255), 
    0 0 2px rgb(1, 122, 254, 255),
    0 0 3px rgb(1, 122, 254, 255),
    0 0 3px rgb(1, 122, 254, 255),
    0 0 3px rgb(1, 122, 254, 255), 
    0 0 5px rgb(1, 122, 254, 255), 
    0 0 5px rgb(1, 122, 254, 255), 
    0 0 8px rgb(1, 122, 254, 255), 
    0 0 10px rgb(1, 122, 254, 255);
    font-weight: 500;
  }
  
  .login_box_para {
    font-size: 16px;
  }
  
  @media (max-width: 768px) {
    .login_box {
      max-width: 100%; 
      width: 100%; 
    }
  
    .login_box h1 {
      font-size: 20px; 
    }
  
    .login_box_para {
      font-size: 14px; 
    }
  }