.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden; 
  margin-top: 5.75rem;
  margin-bottom: 0rem;
  padding-right: 1rem;
  padding-bottom: 0rem;
  
}

.sidebar {
  position: fixed; 
  top: 0;
  left: 0;
  bottom: 0;
  width: 12.5%; 
  background-color: #121212;
  padding: 20px;
  overflow-y: auto; 
}

.main {
  display: grid;
  grid-template-columns: 12.5% 87.5%;
  justify-content: center;
  height: 70vh;
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}

.right_main {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: center;
 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 75vh;
  overflow-y: auto;

}

.right_main_main {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  justify-items: center;
}

.left_main {
  width: 100%;
  height: 90vh;
}

.audioPlayer{
  z-index: 111;
}

.album{
  display: flex;
  flex-direction: column;
 
}

.dashboard {
  display: flex;
  flex-direction: column;
  padding: 0rem;
  margin: 0rem; 
  width: 100%;

}

.promo{
  display: flex;
  width: 100%;
  flex-direction: column;
}


