/* MAIN PAGE CSS CODE BASIC AND MEDIA QUERYS */
.theForge {
  position: relative;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
  position: relative;
  background: url("../public/img/background3.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  padding-bottom: 4rem;

}



.theForge_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 100%;

}

.first_component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0rem 0rem 0rem 0rem;
}

.second_component,
.third_component,
.fourth_component,
.fifth_component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin: 0rem 0rem 0rem 0rem;
  width: 100%;
  height: 100%;
}

.glowingDivider {
  position: relative;
  width: 70%;
  height: 3px;
  background: #575757;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.6),
    0 0 20px rgba(255, 255, 255, 0.4);
  margin: 15rem 0rem 15rem 0rem;
}

.button_botton_box {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

/* END OF MAIN PAGE CSS CODE BASIC AND MEDIA QUERYS */



/* FIRST COMPONENT CONTENT CSS CODE BASIC AND MEDIA QUERYS */
.first_component h1 {
  font-size: 7rem;
}


/* SECOND COMPONENT CONTENT CSS CODE BASIC AND MEDIA QUERYS */
.theLoreContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 85%;
  height: 100%;
  background: var(--background-gradient-light);
  border-radius: .5rem;
  border: 2px solid var(--color-border);
  margin: 0rem 0rem 4rem 0rem;
}

.component_title_text {
  font-size: 4rem;
  margin: 3rem 0rem 1rem 0rem;
}

.loreText {
  font-size: 1.2rem;
  line-height: 1.4;
  padding: 0rem 6rem 6rem 6rem;
}


/* FLIP BOOK MAIN CONTENT CSS CODE BASIC AND MEDIA QUERYS */
.flipBook {
  width: 100%;
  max-width: 1250px;
  min-width: 600px;
  height: auto;
  max-height: 1650px;
  min-height: 700px;
  margin: auto;
  position: relative;
}

/* FRONT INNER PAGE CSS CODE BASIC AND MEDIA QUERYS */
.front_inner_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #ffffffa6;
  border-radius: 8px;
  background: var(--background-gradient-light);
  border: .2rem solid var(--color-border);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.front_inner_page_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  background: var(--background-gradient-dark);
  width: 100%;
  height: 100%;
}

.front_inner_page_inner_image {
  padding: 2rem;
  object-fit: cover;
  opacity: 0.3;
}



/* CONTENT PAGE CSS CODE BASIC AND MEDIA QUERYS */
.content_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: .5rem;
  width: 100%;
  height: 100%;
  color: #ffffffa6;
  border-radius: 8px;
  text-align: center;
  background: var(--background-gradient-dark);
  border: .2rem solid var(--color-border);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.content_page h2 {
  font-size: 3rem;
}


/* CONTENTS PAGE CONTENTS LIST CSS CODE BASIC AND MEDIA QUERYS */
.contentsList {
  list-style: none;
  padding: 1rem;
  margin: 0;
}

.contentsList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.contentsList li .title {
  flex-shrink: 0;
}

.contentsList li .leader {
  flex-grow: 1;
  border-bottom: 1px dotted rgb(155, 155, 155);
  margin: 0 10px;
}

.contentsList li .pageNumber {
  flex-shrink: 0;
  white-space: nowrap;
}

.contentsList li .title,
.contentsList li .pageNumber {
  font-size: 1rem;
  color: #ffffffa6;
}



/* LEFT PAGE CSS CODE BASIC AND MEDIA QUERYS */
.page_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #ffffffa6;
  border-radius: 8px;
  text-align: center;
  background: var(--background-gradient-dark);
  border: 0.2rem solid var(--color-border);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.page_left_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.page_left_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.imagePage {
  width: 100%;
  border: 0.5rem solid grey;
  border-radius: 50%;
  padding: 1rem;
  margin: 0;
}

.page_left_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.page_left_bottom h1 {
  font-size: 2.5rem;
}


/* RIGHT PAGE CSS CODE BASIC AND MEDIA QUERYS */
.page_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #ffffffa6;
  border-radius: 8px;
  background: var(--background-gradient-dark);
  border: .2rem solid var(--color-border);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.page_right_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-gradient-light);
  width: 100%;
  height: 100%;
}

.benefits {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;
  list-style-type: decimal;
  padding: 1.5rem 1rem 1rem 3rem;
  width: 95%;
  height: auto;
  gap: 1rem;
  margin: 0rem 0rem 0rem 0rem;
}

.benefits li {
  justify-content: flex-start;
  align-content: flex-start;
  text-align: start;
  justify-items: flex-start;
  align-items: flex-start;
  font-size: 1.5rem;
  line-height: 1.2;
  padding: .25rem;
}

.benefits>li>ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0;
  font-weight: normal;
}

.benefits>li>ul>li {
  font-size: 14px;
  list-style: circle;
  color: #cccccc71;
}

.benefits>li strong {
  padding: 0rem;
  margin: 0rem;
  color: #ffffffa6;
}



/* Extra Small Devices (Phones, 0px - 599px) */
@media (max-width: 599px) {
  .theForge {
    padding: 1rem;
    /* Adds some padding for readability */
  }

  .content_page h2 {
    font-size: 1.5rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
  }
  .contentsList {
    padding: 0.25rem;
  }

  .contentsList li {
    padding: 4px 0; /* Reduce vertical padding for compact layout */
  }

  .contentsList li .title,
  .contentsList li .pageNumber {
    font-size: 0.7rem; /* Smaller font for compact devices */
  }

  .contentsList li .leader {
    margin: 0 5px; /* Reduce spacing between title and page number */
  }


  .theForge_content,
  .first_component,
  .second_component,
  .third_component,
  .fourth_component,
  .fifth_component {
    width: 100%;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .first_component h1 {
    font-size: 3rem;
    text-align: center;
  }

  .component_title_text {
    font-size: 2rem;
    text-align: center;
  }

  .loreText {
    font-size: 1rem;
    padding: 1rem;
  }

  .glowingDivider {
    width: 90%;
    margin: 5rem 0;
  }

  .button_botton_box {
    flex-direction: column;
    gap: 1rem;
  }

  .page_left,
  .page_right {
    padding: 1rem;
  }

  .imagePage {
    width: 80%;
    /* Scale down the image size on small screens */
    padding: 0.5rem;
  }

  .benefits {
    padding: 1rem 0.5rem;
    padding-left: .75rem;
    gap: 0rem;
    width: 100%;
    /* Allow benefits list to take full width */
  }

  .benefits li {
    font-size: .5rem;
    line-height: 1.4;
    padding: .15rem;
  }

  .page_right_wrapper h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .page_left_bottom h1 {
    font-size: 1.25rem;
  }

  .benefits>li>ul {
    padding-left: 1rem;
    /* Add slight padding for indentation */
  }

  .benefits>li>ul>li {
    font-size: 8px;
    /* Reduce font size for better readability on small screens */
    line-height: 1;
    /* Adjust line height for a compact layout */
    list-style: circle;
    color: #cccccc71;
  }

  .benefits>li strong {
    font-size: .6rem;
    /* Reduce font size for strong elements */
    color: #ffffffa6;
  }
}

/* Small Devices (Tablets, 600px - 899px) */
@media (min-width: 600px) and (max-width: 899px) {
  .theForge {
    padding: 2rem;
  }

  .content_page h2 {
    font-size: 2rem;
  }
  .contentsList {
    padding: 0.5rem;
  }

  .contentsList li {
    padding: 4px 0; /* Reduce vertical padding for compact layout */
  }

  .contentsList li .title,
  .contentsList li .pageNumber {
    font-size: 0.7rem; /* Smaller font for compact devices */
  }

  .contentsList li .leader {
    margin: 0 5px; /* Reduce spacing between title and page number */
  }

  .first_component h1 {
    font-size: 5rem;
  }

  .component_title_text {
    font-size: 3rem;
  }

  .loreText {
    font-size: 1.1rem;
    padding: 2rem;
  }

  .button_botton_box {
    gap: 1.5rem;
  }

  .imagePage {
    width: 90%;
    /* Scale image slightly smaller for tablet view */
  }

  .benefits {
    padding: 1.5rem;
    /* Adjust padding to maintain spacing */
    width: 90%;
  }

  .benefits li {
    font-size: 1.2rem;
    /* Slightly larger font for readability */
  }
}

/* Medium Devices (Larger Tablets or Small Laptops, 900px - 1199px) */
@media (min-width: 900px) and (max-width: 1199px) {
  .first_component h1 {
    font-size: 6rem;
  }

  .component_title_text {
    font-size: 3.5rem;
  }

  .loreText {
    font-size: 1.15rem;
    padding: 3rem;
  }
}

/* Adjustments for FlipBook */
@media (max-width: 899px) {
  .flipBook {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}