/* MAIN PAGE CSS CODE BASIC AND MEDIA QUERYS */
.theForge {
  padding-bottom: 4rem;
  background: url("../public/img/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  padding-bottom: 4rem;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../public/img/background.png");
  background-size: 1;
  background-position: center;

}


@media not all and (min-resolution:.001dpcm) {
  .theForge {
    background-attachment: fixed;
  }
}

@supports (-webkit-touch-callout: none) {
  .theForge {
    background-attachment: scroll;
  }
}

.theForge_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
}

.first_component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.second_component,
.third_component,
.fourth_component,
.fifth_component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.glowingDivider {
  position: relative;
  width: 70%;
  height: 3px;
  background: #575757;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.6),
    0 0 20px rgba(255, 255, 255, 0.4);
  margin: 15rem 0rem 15rem 0rem;
}

.button_botton_box {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

/* END OF MAIN PAGE CSS CODE BASIC AND MEDIA QUERYS */


/* FIRST COMPONENT CONTENT CSS CODE BASIC AND MEDIA QUERYS */
.first_component h1 {
  font-size: 7rem;
  text-align: center;
}

/* SECOND COMPONENT CONTENT CSS CODE BASIC AND MEDIA QUERYS */
.theLoreContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 85%;
  height: 100%;
  background: var(--background-gradient-light);
  border-radius: 1rem;
  border: 2px solid var(--color-border);
  margin: 0rem 0rem 4rem 0rem;
}

.component_title_text {
  font-size: 4rem;
  margin: 3rem 0rem 1rem 0rem;

}

.loreText {
  font-size: 1.2rem;
  line-height: 1.4;
  padding: 0rem 6rem 6rem 6rem;
}


/* Extra Small Devices (Phones, 0px - 599px) */
@media (max-width: 599px) {
  .theForge {
    padding: 0rem;
  }

  .theForge_content,
  .first_component,
  .second_component,
  .third_component,
  .fifth_component {
    padding: .5rem;
    flex-direction: column;
    align-items: center;
  }

  
  .fourth_component{
    padding: 0rem;
    width: 100%;
  }
  .first_component h1 {
    font-size: 3rem;
  }

  .component_title_text {
    font-size: 2rem;
    text-align: center;
  }

  .loreText {
    font-size: 1rem;
    padding: 1rem;
  }

  .glowingDivider {
    width: 90%;
    margin: 5rem 0;
  }

  .button_botton_box {
    flex-direction: column;
    gap: 1rem;
  }

  .cover .imagePage {
    width: 100%;
    height: 100%;
    margin: 0rem 0rem 0rem 0rem;
  }

  .cover .pageContent_title {
    font-size: 1.5rem;
  }

  .pageContent_title {
    font-size: 1.5rem;
  }

  .dedicationContainer{
    width: 100%;
    height: 100%;
  }

  .dedicationContent{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
  }

  .dedicationTitle {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0rem;
  }

  
  .dedicationText { 
    max-width: 95%; 
    height: auto;   
  }
  
  .dedicationSignature,
  .dedicationParagraph{
    font-size: .5rem;
    line-height: 1;
    margin-bottom: 0.5rem;
  }

  .contents_page h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  .contentsList li {
    padding: 1.5px 0;
    border-bottom: 1px solid #ddd;
    display: flex;

    justify-content: space-between;
  }

  .contentsList .pageNumber {
    font-size: .7rem;
  }

  .contentsList .contentTitle {
    flex: 1;
    text-align: left;
    font-size: .7rem;
  }

  .page_left{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
  }

  .page_left .page_lower {
    padding: .5rem;
  }

  .page_left .pageContent_title {
    font-size: 1.5rem;
  }

  .page_left .pageNumber {
    font-size: .7rem;
  }

  .page_right .page_lower .pageContent_title {
    font-size: 1.1rem;
  }
  
  .benefit_description {
    margin-bottom: 0rem;
    font-size: .52rem;
  }
  
  .page_right .page_inner .benefits {
    display: flex;
    flex-direction: column;
    width: 85%;    
    margin: 0.1rem 0rem 0rem 0rem;
  }

  .page_right .page_inner .benefits li {
    font-size: .5rem;
  }
  
  .page_right .page_inner .benefits li strong {
    margin: 0rem 0rem 0rem 0rem;
  }
  
  .page_right .pageWrapper .pageNumber {
    font-size: .7rem;
    padding: 0px 3px 2px 0px;
  }

  .flipbookwrapper{
    background: transparent;
    padding: 0rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }


}

/* Small Devices (Tablets, 600px - 899px) */
@media (min-width: 600px) and (max-width: 899px) {
  .theForge {
    padding: 1rem;
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
  }

  .flipBook {
    height: calc(75vh);
    max-height: 600px;
  }

  .first_component h1 {
    font-size: 5rem;
  }

  .component_title_text {
    font-size: 3rem;
    text-align: center;
  }

  .loreText {
    font-size: 1.1rem;
    padding: 2rem;
  }

  .button_botton_box {
    gap: 1.5rem;
  }

  .cover{
    border-bottom-right-radius: 0rem;
    border-top-right-radius: 0rem;
  }

  .cover .imagePage {
    width: 100%;
    height: 100%;
    margin: 0rem 0rem 0rem 0rem;
  }

  .cover .pageContent_title {
    font-size: 2rem;
  }

  .pageContent_title {
    font-size: 1.5rem;
  }

  .dedicationTitle {
    text-align: center;
    font-size: 1rem;
  }

  
  .dedicationText { 
    max-width: 95%;    
  }
  
  .dedicationSignature,
  .dedicationParagraph{
    font-size: .5rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
  }

  .contents_page h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  .contentsList li {
    padding: 1.5px 0;
    border-bottom: 1px solid #ddd;
    display: flex;

    justify-content: space-between;
  }

  .contentsList .pageNumber {
    font-size: .7rem;
  }

  .contentsList .contentTitle {
    flex: 1;
    text-align: left;
    font-size: .7rem;
  }

  .page_left .page_lower {
    padding: .5rem;
  }

  .page_left .pageContent_title {
    font-size: 1.5rem;
  }

  .page_left .pageNumber {
    font-size: .7rem;
  }
  
  .page_right .page_lower .pageContent_title {
    font-size: 1.5rem;
  }
  
  .benefit_description {
    margin-bottom: 0rem;
    font-size: .52rem;
  }
  
  .page_right .page_inner .benefits {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0.1rem 0rem 0rem 0rem;
  }

  .page_right .page_inner .benefits li {
    font-size: .5rem;
  }
  
  .page_right .page_inner .benefits li strong {
    margin: 0rem 0rem 0rem 0rem;
  }
  
  .page_right .pageWrapper .pageNumber {
    font-size: .7rem;
    padding: 0px 3px 2px 0px;
  }

  .flipbookwrapper{
    background: transparent;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
}

/* Medium Devices (Larger Tablets or Small Laptops, 900px - 1199px) */
@media (min-width: 900px) and (max-width: 1199px) {
  .first_component h1 {
    font-size: 6rem;
  }

  .component_title_text {
    font-size: 3.5rem;
    text-align: center;
  }

  .flipBook {
    height: calc(80vh);
    max-height: 733px;
  }

  .loreText {
    font-size: 1.15rem;
    padding: 3rem;
  }
}






